* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.4;
    letter-spacing: 0.01rem;
    font-size: 20px;
}

.hide-SEO {
    display: block !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    top: -99px;
    left: -99px;
    overflow: hidden;
    border: 0 !important;
}

body {
    opacity: 1;
    background: #ffffff;
    transition: 0.5s opacity ease;
    transition-delay: 0.25s;
}

.wrapper {
    position: relative;
    /*min-height: 100%;
    min-height: 100vh;
    padding-top: 40px; */
    /* header height */
    /* padding-bottom: 40px; */
    /* footer height */
}

h1,
h1 span,
h2,
h3,
h4,
h5,
h6,
.press-title,
.peer-nav a {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: 'Big Shoulders Text', monospace, serif;
}

h1 {
    font-size: 2rem;
}

h2,
.peer-nav a {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

h2 img {
    width: 48px;
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}

h3 {
    font-size: 1.5rem;
}

p,
ul li {
    font-size: 19px;
    font-weight: 400;
}

em {
    font-weight: inherit;
}

strong {
    font-weight: 400;
}

hr {
    border: 0;
    background: #000000;
    margin: 1.5rem 0;
    height: 12px;
}

iframe,
video,
img {
    max-width: 100% !important;
}

video {
    display: block;
}

.text-center {
    text-align: center;
}


/* LAYOUTS */

.container {
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.container.directory {
    background: white;
    position: relative;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    z-index: 10;
    padding: 0 32px 32px !important;
    background: black;
}

.container.directory > p {
    max-width: 720px;
    margin: 0 auto 32px;
}

.container.directory * {
    color: white;
}

.container:after,
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}


/* HEADER */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.65);
    height: 60px;
    overflow: hidden;
}

#header .container {
    font-size: 0;
    text-align: center;
}

#header a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    font-weight: 700;
}

#header a span {
    font: inherit;
}

#header a:hover,
#header a.active {
    color: greenyellow;
}

.logo {
    position: relative;
    z-index: 0;
    margin: 0 auto;
}

.logo > img {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 51px;
}

#header nav {
    position: relative;
}

#header .inner {
    color: white;
    width: 140px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 12px;
}

#header .inner:first-of-type {
    text-align: right;
}

#header .inner:last-of-type {
    text-align: left;
}

#header .nav-social {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#header .social {
    color: white;
    padding-right: 0;
}

#header .social i {
    font-size: 16px;
}


/* MAIN */

#main .container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.hero {
    position: relative;
    border-top: 60px solid black;
    padding: 110px 0 145px;
    background-image: url('../img/rainbow-261419-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: black;
    overflow: hidden;
}

.hero-video-wrapper {
    width: 100%;
    padding-top: 56.25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.25;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
}

.inner-video {
    display: none;
}

.hero.inner-page .hero-video {
    opacity: 0.55;
}

.hero h1 {
    font-size: 84px;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 0 100px greenyellow;
}

.hero.inner-page {
    position: relative;
    min-height: 540px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.hero.inner-page:after {
    content: '';
    background: rgba(0, 0, 0, 0.34);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero.inner-page h1 {
    color: white;
    position: static;
    line-height: 1;
    font-size: 60px;
}

.hero.inner-page-short {
    position: relative;
    min-height: 280px;
    padding: 20px 0;
}

.hero.inner-page-short:after {
    content: '';
    background: black;
    height: 120px;
    width: 120%;
    position: absolute;
    left: -5%;
    right: -5%;
    bottom: -80px;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

.hero.inner-page-short h1 {
    font-size: 60px;
}

.hero .container {
    position: relative;
    z-index: 10;
    max-width: 100%;
    padding: 0;
}

.hero.inner-page .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.hero a {
    color: white;
    background: black;
    text-decoration: none;
    padding: 0 16px;
    display: block;
    font-size: 15px;
    line-height: 44px;
    height: 44px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
}

.hero a span {
    font: inherit;
}

.hero a i {
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 3px;
}

.hero a span.hlt {
    color: greenyellow;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: inherit;
}

.hero a:hover {
    background: blue;
    color: white;
}

.hero-covers {
    display: block;
    max-width: 800px !important;
    margin: -80px auto -60px;
    width: 100%;
    padding: 0 16px;
}


/* GRID */

.flex-row {
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.flex-row > div {
    width: 50%;
    border: 15px solid white;
}

.flex-row > div.right {
    margin-top: -100px;
}

.flex-row > div > img {
    display: block;
    width: 100%;
}

.flex-row .left h2 {
    margin-top: 0;
}

.flex-row .right {
    text-align: right;
}

.flex-row .right.black-border {
    border-color: black;
    margin-right: 15px;
}

.flex-row .right p {
    max-width: 430px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 12px;
}

.flex-row .right h2 {
    margin-top: 10px;
}

.lgbtq-header {
    background: black;
}

.lgbtq-header h2 {
    color: white;
    margin: 0;
}

.lgbtq {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 10px;
}

.button {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 12px;
    padding: 8px 12px;
    margin-bottom: 4px;
}

.button:hover {
    background: blue;
}

.link {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.02rem;
}

.link:hover {
    color: blue;
}

.map {
    min-height: 600px;
    background-image: url('../img/map-1247143-min.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.author {
    display: flex;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 12px solid black;
    position: relative;
    z-index: 10;
}

.author.first {
    margin-top: -12px;
}

.author-cover {
    display: block;
    width: 20%;
    width: 200px;
    margin-right: 20px;
    text-decoration: none !important;
}

.author-cover > img {
    display: block;
    width: 100%;
}

.author-blurb {
    width: 80%;
    width: calc(100% - 220px);
}

.author .button {
    margin-top: 20px;
    text-decoration: none !important;
}

.author span.button {
    display: block;
    margin-top: 0;
    text-align: center;
}

.press {
    display: block;
    margin-top: 10px;
}

.press-title {
    margin-bottom: 0;
    display: block;
    font-size: 1.25em;
    text-transform: uppercase;
}

.press-title a {
    color: black;
}

.press-title a:hover {
    color: blue;
}

.press .button {
    margin-top: 4px;
}


/* DIRECTORY */

.peer-nav {
    text-align: center;
    font-size: 0;
    border-bottom: 12px solid white;
}

.peer-nav a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-bottom: 12px solid white;
    padding: 8px 16px;
    margin-right: -1px;
    margin-bottom: -12px;
}

.peer-nav a span {
    font: inherit;
    color: inherit !important;
}

.peer-nav a.active {
    border-bottom-color: black;
}

.peer-nav a:hover {
    background: white;
    color: black;
    border-bottom-color: white;
}

.peer-nav a img {
    height: 48px;
    vertical-align: bottom;
}

.peer-tab {
    display: none;
}

.peer-tab.active {
    display: block;
}

.peer-table {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse
}

.peer tr {
    border-bottom: 1px solid white;
}

.peer a i {
    color: inherit !important;
}

.peer-table td {
    padding: 12px 8px;
}

.peer-table * {
    font-size: 16px;
}

.peer-table a:hover {
    opacity: 0.75;
}

.peer-title {
    display: block;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    padding-right: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.peer-title i {
    display: block;
    font-size: inherit;
    position: absolute;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.peer-title i.fa-minus {
    display: none;
}

.peer-title.open i.fa-minus {
    display: inline-block;
}

.peer-title.open i.fa-plus {
    display: none;
}

.peer-name {
    white-space: nowrap;
}

.peer-name,
.peer-buy {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05rem;
}

.peer-buy {
    white-space: nowrap;
}

.peer-buy i {
    font-size: inherit;
}

.peer-books {
    position: relative;
    max-width: 300px;
}

.peer-search {
    background: black;
    color: white;
    border: 1px solid white;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: 0 !important;
    display: block;
    margin: 26px auto 16px;
    padding: 8px 16px;
    text-align: center;
    max-width: 250px;
    width: 100%;
}

.peer-search:focus {
    border-color: greenyellow;
}

.peer-pitch,
.peer-pitch * {
    font-size: 13px !important;
    line-height: 1.3;
}

.peer-title-pitch,
.peer-genre-pitch {
    display: block;
    font-size: 14px;
    color: black !important;
    font-weight: 700;
}

.peer-title-pitch {
    font-style: italic;
    font-size: 14px !important;
    margin-bottom: 4px;
}

.peer-genre-pitch {
    font-size: 11px !important;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-bottom: 8px solid black;
    padding-bottom: 4px;
    margin-bottom: 6px;
}

.peer-pitch {
    display: none;
    position: absolute;
    left: 8px;
    background: white;
    color: black !important;
    padding: 8px;
    border: 4px solid greenyellow;
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
    z-index: 9;
    width: 100%;
    width: calc(100% - 12px);
}

.peer-pitch * {
    font-size: 13px;
}

.peer-genre {
    position: relative;
    font-style: italic;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
    padding-left: 80px !important;
}


/* ICONS - AGE/GENRE */

[class*=' age-']:before,
[class*=' genre-']:after {
    position: absolute;
    left: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

[class*=' age-']:before {
    margin-top: 1px;
}

[class*=' genre-']:after {
    left: 34px;
    font-size: 15px;
}

.peer-genre[class*=' age-']:before {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8em;
}

.age-adult:before {
    content: 'A';
}

.age-na:before {
    content: 'NA';
}

.age-ya:before {
    content: 'YA';
}

.age-mg:before {
    content: 'MG';
}

.age-kidlit:before {
    content: 'KL';
}

[class*=' genre-']:after {
    font-family: 'Font Awesome 5 Free';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    width: 20px;
    text-align: center;
}

.genre-love:after {
    content: '\f004';
}

.genre-speculative:after {
    content: '\f005';
}

.genre-suspense:after {
    content: '\f002';
}

.genre-nonfiction:after {
    content: '\f02e';
}

.genre-fiction:after {
    content: '\f56b';
}

.genre-suspense.genre-love:after {
    content: '\f002\00a0\f004';
}

.genre-speculative.genre-love:after {
    content: '\f005\00a0\f004';
}

.genre-suspense.genre-speculative:after {
    content: '\f002\00a0\f005';
}

.genre-fiction.genre-nonfiction:after {
    content: '\f56b\00a0\f02e';
}


/* SORT */

.peer-btn-wrapper,
.peer-btn {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 13px;
}

.peer-btn-wrapper {
    margin-bottom: 14px;
}

.peer-btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    background: white;
    color: black !important;
    padding: 4px 8px;
    border: 1px solid white;
    letter-spacing: 0.03rem;
}

.peer-btn-wrapper span,
.peer-btn span {
    font: inherit;
    color: inherit !important;
}

.peer-btn[class*=' genre-'] {
    padding-left: 23px;
}

.peer-btn[class*=' genre-']:after {
    left: 2px;
    margin-top: -1px;
}

.peer-btn[class*=' age-']:before {
    display: none;
}

.peer-btn:hover,
.peer-btn.active {
    background: greenyellow;
    border-color: greenyellow;
}

.peer-btn.genre-all {
    padding-left: 8px;
}

.hide-age,
.hide-genre {
    display: none;
}

.peer-btn.outline {
    color: white !important;
    background: transparent;
}

.peer-btn.outline.active,
.peer-btn.outline:hover {
    color: greenyellow !important;
}

.peer-btn-divider {
    display: inline-block;
    width: 10px;
}

.peer-btn.filters-btn {
    min-width: 113px;
}


/* FILTERS */

.filters {
    margin-top: 25px;
}

.filters,
.hide-filters {
    display: none;
}

.filters-btn {
    display: none;
}

.filters-btn.show {
    display: inline-block;
}


/* COLOR CODE QI */

.qi-lit .peer:nth-child(12n + 1) a {
    color: #FFCC00;
}

.qi-lit .peer:nth-child(12n + 1),
.qi-lit .peer:nth-child(12n + 1) .peer-pitch {
    border-color: #FFCC00;
}

.qi-lit .peer:nth-child(12n + 2) a,
.qi-lit .peer:nth-child(12n + 12) a {
    color: orange;
}

.qi-lit .peer:nth-child(12n + 2),
.qi-lit .peer:nth-child(12n + 2) .peer-pitch,
.qi-lit .peer:nth-child(12n + 12),
.qi-lit .peer:nth-child(12n + 12) .peer-pitch {
    border-color: orange;
}

.qi-lit .peer:nth-child(12n + 3) a,
.qi-lit .peer:nth-child(12n + 11) a {
    color: darkorange;
}

.qi-lit .peer:nth-child(12n + 3),
.qi-lit .peer:nth-child(12n + 3) .peer-pitch,
.qi-lit .peer:nth-child(12n + 11),
.qi-lit .peer:nth-child(12n + 11) .peer-pitch {
    border-color: darkorange;
}

.qi-lit .peer:nth-child(12n + 4) a,
.qi-lit .peer:nth-child(12n + 10) a {
    color: coral;
}

.qi-lit .peer:nth-child(12n + 4),
.qi-lit .peer:nth-child(12n + 4) .peer-pitch,
.qi-lit .peer:nth-child(12n + 10),
.qi-lit .peer:nth-child(12n + 10) .peer-pitch {
    border-color: coral;
}

.qi-lit .peer:nth-child(12n + 5) a,
.qi-lit .peer:nth-child(12n + 9) a {
    color: tomato;
}

.qi-lit .peer:nth-child(12n + 5),
.qi-lit .peer:nth-child(12n + 5) .peer-pitch,
.qi-lit .peer:nth-child(12n + 9),
.qi-lit .peer:nth-child(12n + 9) .peer-pitch {
    border-color: tomato;
}

.qi-lit .peer:nth-child(12n + 6) a,
.qi-lit .peer:nth-child(12n + 8) a {
    color: orangered;
}

.qi-lit .peer:nth-child(12n + 6),
.qi-lit .peer:nth-child(12n + 6) .peer-pitch,
.qi-lit .peer:nth-child(12n + 8),
.qi-lit .peer:nth-child(12n + 8) .peer-pitch {
    border-color: orangered;
}

.qi-lit .peer:nth-child(12n + 7) a {
    color: red;
}

.qi-lit .peer:nth-child(12n + 7),
.qi-lit .peer:nth-child(12n + 7) .peer-pitch {
    border-color: red;
}


/* COLOR CODE FR */

.qi-friends .peer:nth-child(12n + 1) a {
    color: yellowgreen;
}

.qi-friends .peer:nth-child(12n + 1),
.qi-friends .peer:nth-child(12n + 1) .peer-pitch {
    border-color: yellowgreen;
}

.qi-friends .peer:nth-child(12n + 2) a,
.qi-friends .peer:nth-child(12n + 12) a {
    color: mediumseagreen;
}

.qi-friends .peer:nth-child(12n + 2),
.qi-friends .peer:nth-child(12n + 2) .peer-pitch,
.qi-friends .peer:nth-child(12n + 12),
.qi-friends .peer:nth-child(12n + 12) .peer-pitch {
    border-color: mediumseagreen;
}

.qi-friends .peer:nth-child(12n + 3) a,
.qi-friends .peer:nth-child(12n + 11) a {
    color: lightseagreen;
}

.qi-friends .peer:nth-child(12n + 3),
.qi-friends .peer:nth-child(12n + 3) .peer-pitch,
.qi-friends .peer:nth-child(12n + 11),
.qi-friends .peer:nth-child(12n + 11) .peer-pitch {
    border-color: lightseagreen;
}

.qi-friends .peer:nth-child(12n + 4) a,
.qi-friends .peer:nth-child(12n + 10) a {
    color: darkturquoise;
}

.qi-friends .peer:nth-child(12n + 4),
.qi-friends .peer:nth-child(12n + 4) .peer-pitch,
.qi-friends .peer:nth-child(12n + 10),
.qi-friends .peer:nth-child(12n + 10) .peer-pitch {
    border-color: darkturquoise;
}

.qi-friends .peer:nth-child(12n + 5) a,
.qi-friends .peer:nth-child(12n + 9) a {
    color: deepskyblue;
}

.qi-friends .peer:nth-child(12n + 5),
.qi-friends .peer:nth-child(12n + 5) .peer-pitch,
.qi-friends .peer:nth-child(12n + 9),
.qi-friends .peer:nth-child(12n + 9) .peer-pitch {
    border-color: deepskyblue;
}

.qi-friends .peer:nth-child(12n + 6) a,
.qi-friends .peer:nth-child(12n + 8) a {
    color: dodgerblue;
}

.qi-friends .peer:nth-child(12n + 6),
.qi-friends .peer:nth-child(12n + 6) .peer-pitch,
.qi-friends .peer:nth-child(12n + 8),
.qi-friends .peer:nth-child(12n + 8) .peer-pitch {
    border-color: dodgerblue;
}

.qi-friends .peer:nth-child(12n + 7) a {
    color: royalblue;
}

.qi-friends .peer:nth-child(12n + 7),
.qi-friends .peer:nth-child(12n + 7) .peer-pitch {
    border-color: royalblue;
}


/* WHO WE ARE */

.who-we-are * {
    color: white;
    text-align: center;
}

.who-we-are p:first-of-type {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.who-we-are {
    padding: 40px 0 100px;
}

.who-we-are .container {
    max-width: 800px;
}

.who-we-are .button {
    background: white;
    color: black;
    vertical-align: middle;
}

.who-we-are .button:hover {
    background: blue;
    color: white;
}


/* PROMO */

.promo {
    margin-top: 30px;
    margin-bottom: 50px;
    background: blue;
}

.promo .container {
    background: black;
}

.flex-row > div {
    background: white;
}

.promo ul {
    padding-left: 1rem;
}

.promo h2 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.promo h3 {
    margin-top: 0;
    font-style: italic;
    font-size: 1.35rem;
}

.promo .right {
    border-color: black;
    padding: 15px;
    border-bottom-width: 60px;
}

.promo .flex-row .right p {
    max-width: none;
}

.promo .left p {
    margin-bottom: 0.5rem;
}

.promo .left p:last-of-type {
    margin-bottom: 0;
}

.promo-img {
    display: block;
    padding-top: 33%;
    margin-bottom: 1rem;
    background-image: url('../img/promo-sulk-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.promo iframe {
    display: block;
    width: 100% !important;
}


/* FOOTER */

#footer {
    padding-top: 16px;
    padding-bottom: 16px;
    background: black;
}

#footer .footer-titles-bg.container {
    max-width: 900px;
    text-align: center;
}

#footer .footer-titles-bg a,
#footer .footer-titles-bg span {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 12px;
    font-weight: 400 !important;
}

#footer .footer-titles-bg a:hover {
    color: greenyellow;
}

.scrollTop {
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 10px;
    text-align: center !important;
    height: 40px !important;
    width: 40px !important;
    line-height: 40px !important;
    padding-top: 3px;
    background-color: greenyellow !important;
    color: #000000 !important;
    transition: all 0.25s ease !important;
    opacity: 0.5;
    box-shadow: 3px 3px 0 black;
}

.scrollTop:hover {
    opacity: 1;
}

.footer-titles-wrapper {
    position: relative;
    padding-top: 56%;
    margin: 0 auto 20px;
    width: 100%;
}

.footer-titles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block !important;
    background-image: url('../img/covers/covers-titles-white-min.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}


/* LIGHTBOX */

.lightbox {
    display: none;
    position: fixed;
    z-index: 99998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.lightbox-content {
    position: fixed;
    z-index: 99999;
    background: white;
    margin: 0 auto;
    left: 16px;
    right: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 600px;
    padding: 0 2rem;
    max-height: 90%;
    overflow-y: auto;
}

.lightbox-close {
    font-size: 2em;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    line-height: 0;
    color: white;
}

.lightbox-close i {
    font-size: inherit;
}

.lightbox h2 {
    margin: 0 -2rem 1rem;
    background: black;
    text-align: center;
    border: 2px solid white;
    padding: 16px 64px;
}

.lightbox h3 {
    margin-bottom: 0;
}

.lightbox p {
    margin-bottom: 0.5rem;
}

.lightbox p:first-of-type {
    font-size: 1.05em;
    margin-bottom: 1rem;
}

.lightbox p a {
    background: black;
    color: greenyellow;
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 4px;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-decoration: none;
}

.lightbox p a:hover {
    background: blue;
}

.lightbox strong {
    font-weight: 700;
}

.lightbox .button {
    margin: 1rem -2rem 0;
    font-size: 1em;
    text-align: center;
    display: block;
    border: 2px solid white;
}

.lightbox img {
    display: block;
    max-width: 250px !important;
    width: 100%;
    margin: 0 auto;
}

.lightbox span {
    font-size: inherit;
}


/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
    .hero {
        padding: 100px 0;
    }
    .hero.inner-page {
        min-height: 485px;
    }
    .map {
        min-height: 450px;
    }
    .flex-row .right.black-border {
        max-height: 300px;
        overflow: hidden;
    }
    .inner-video {
        overflow: hidden;
    }
    .inner-video video {
        width: 270%;
        margin: 0 auto;
        max-width: 270% !important;
        left: 0;
        margin-left: -50%;
    }
    .peer-table * {
        font-size: 15px;
    }
    .peer-name,
    .peer-buy {
        font-size: 13px;
    }
    .peer-name {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .peer-genre {
        max-width: 220px;
    }
    .peer-books {
        max-width: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
    .hero {
        padding: 40px 0;
    }
    .hero.inner-page {
        min-height: 326px;
    }
    .hero h1 {
        font-size: 56px;
    }
    .flex-row > div.right {
        margin-top: -80px;
    }
    .flex-row .left h2 {
        margin-top: 0;
    }
    .map {
        min-height: 300px;
    }
    .author-cover {
        width: 100px;
    }
    .author-blurb {
        width: calc(100% - 120px);
    }
    .author .button:before {
        display: none;
    }
    .peer-title {
        position: relative;
        font-size: 0;
        padding-right: 0;
    }
    .peer-title i {
        display: block;
        font-size: 17px;
        position: static;
        -webkit-transform: none;
        transform: none;
    }
    .peer-pitch {
        right: 0;
        left: 0;
        width: 100%;
    }
    .peer-genre,
    .peer-twitter,
    .peer-buy i {
        display: none;
    }
    .peer-books {
        position: static;
    }
    .peer-table {
        position: relative;
    }
    .peer-nav a {
        font-size: 1.25rem;
        letter-spacing: 0.03rem;
        text-transform: uppercase;
    }
    .peer-nav a img {
        height: 32px;
    }
    .peer-title i {
        display: block;
        width: 20px;
    }
    .peer-pitch {
        font-size: 13px;
        margin-top: 14px;
    }
    .peer-btn.genre:not(.genre-all) {
        width: 20px;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: bottom;
        text-indent: 99px;
    }
    .peer-btn.genre:not(.genre-all):after {
        text-indent: 0;
        left: 5px;
    }
    .peer-btn-divider {
        display: block;
        width: 100%;
        height: 8px;
    }
    .hero.inner-page h1 {
        font-size: 40px;
    }
    .hero-covers {
        max-width: 600px !important;
        margin: -20px auto -60px;
    }
    .lightbox-content {
        padding: 0 1rem;
    }
    .lightbox h2,
    .lightbox .button {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .lightbox h3 {
        display: none;
    }
    .lightbox p {
        font-size: 16px;
    }
    .lightbox p:first-of-type {
        font-size: 18px;
    }
    #header .inner {
        width: 90px;
    }
    .hero h1 {
        font-size: 40px;
    }
    .hero.inner-page {
        min-height: 304px;
    }
    .hero-video-wrapper {
        padding-top: 100%;
    }
    .hero-video {
        width: 200%;
        max-width: 200% !important;
    }
    .flex-row {
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }
    .container.directory .flex-row {
        max-width: none;
    }
    .container.directory .flex-row div {
        padding-left: 0;
        padding-right: 0;
    }
    .flex-row div {
        margin: 0 !important;
        width: 100%;
        text-align: center;
    }
    .flex-row .right {
        text-align: center;
    }
    .map {
        min-height: 200px;
    }
    .authors h2 {
        text-align: center;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .author {
        max-width: 320px;
        margin: 0 auto;
        display: block;
    }
    .author-cover {
        margin-bottom: 20px;
    }
    .author-cover,
    .author-blurb {
        width: 100%;
    }
    .container.directory {
        padding: 16px !important;
    }
    .promo .right {
        border: 0;
        border-top: 15px solid black;
    }
}

@media only screen and (max-width: 480px) {
    #header {
        overflow: visible;
    }
    #header .nav-social {
        left: -16px;
        right: -16px;
        top: 76px;
        background: rgba(0, 0, 0, 0.45);
    }
    #header .social {
        padding: 0 10px 4px;
    }
}