* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.4;
    letter-spacing: 0.01rem;
    font-size: 20px;
}

.hide-SEO {
    display: block !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    top: -99px;
    left: -99px;
    overflow: hidden;
    border: 0 !important;
}

body {
    opacity: 1;
    background: #ffffff;
    transition: 0.5s opacity ease;
    transition-delay: 0.25s;
}

.wrapper {
    position: relative;
    /*min-height: 100%;
    min-height: 100vh;
    padding-top: 40px; */
    /* header height */
    /* padding-bottom: 40px; */
    /* footer height */
}

h1,
h1 span,
h2,
h3,
h4,
h5,
h6,
.press-title,
.peer-nav a {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: 'Big Shoulders Text', monospace, serif;
}

h1 {
    font-size: 2rem;
}

h2,
.peer-nav a {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

h2 img {
    width: 48px;
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}

h3 {
    font-size: 1.5rem;
}

p,
ul li {
    font-size: 19px;
    font-weight: 400;
}

em {
    font-weight: inherit;
}

strong {
    font-weight: 700;
    font-size: inherit;
}

hr {
    border: 0;
    background: #000000;
    margin: 1.5rem 0;
    height: 12px;
}

hr.white {
    background: white;
}

iframe,
video,
img {
    max-width: 100% !important;
}

video {
    display: block;
}

.text-center {
    text-align: center;
}


/* LAYOUTS */

.container {
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.container.directory {
    background: white;
    position: relative;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    z-index: 10;
    padding: 0 32px 32px !important;
    background: black;
}

.container.directory > p {
    max-width: 720px;
    margin: 0 auto 32px;
}

.container.directory * {
    color: white;
}

.container:after,
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}


/* HEADER */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.65);
    height: 60px;
    overflow: hidden;
}

#header .container {
    font-size: 0;
    text-align: center;
}

#header a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    font-weight: 700;
}

#header a span {
    font: inherit;
}

#header a:hover,
#header a.active {
    color: greenyellow;
}

.logo {
    position: relative;
    z-index: 0;
    margin: 0 auto;
}

.logo > img {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 51px;
}

#header nav {
    position: relative;
}

#header .inner {
    color: white;
    width: 100px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 12px;
    cursor: pointer;
}

#header .inner:first-of-type {
    text-align: right;
}

#header .inner:last-of-type {
    text-align: left;
}

#header .nav-social {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#header .social {
    color: white;
    padding-right: 0;
}

#header .social i {
    font-size: 16px;
}


/* MAIN */

#main .container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.hero {
    position: relative;
    border-top: 60px solid black;
    padding: 70px 0 105px;
    background-image: url('../img/rainbow-313415-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: black;
    overflow: hidden;
}

.hero-video-wrapper {
    width: 100%;
    padding-top: 56.25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    mix-blend-mode: screen;
    opacity: 0.88;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
}

.inner-video {
    display: none;
}

.hero.inner-page .hero-video {
    opacity: 0.55;
}

.hero h1 {
    font-size: 84px;
    font-weight: 400;
    margin: 0;
    color: white;
}

.hero h1 span {
    font: inherit;
}

.hero.inner-page {
    position: relative;
    min-height: 450px;
    padding-top: 55px;
    padding-bottom: 80px;
    background-size: contain;
    background-color: black;
}

.hero.inner-page:after {
    content: '';
    background: rgba(0, 0, 0, 0.34);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.hero.inner-page h1 {
    color: white;
    position: static;
    line-height: 1;
    font-size: 60px;
}

.hero.inner-page-short {
    position: relative;
    min-height: 280px;
    padding: 20px 0;
}


/* .hero.inner-page-short:after {
    content: '';
    background: black;
    height: 120px;
    width: 120%;
    position: absolute;
    left: -5%;
    right: -5%;
    bottom: -80px;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
} */

.hero.inner-page-short h1 {
    font-size: 60px;
    text-shadow: 0 0 30px black, 0 0 90px black;
}

.hero .container {
    position: relative;
    z-index: 10;
    max-width: 100%;
    padding: 0;
}

.hero.inner-page .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.hero a {
    color: white;
    background: black;
    text-decoration: none;
    padding: 0 16px;
    display: block;
    font-size: 15px;
    line-height: 44px;
    height: 44px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    box-shadow: 3px 3px 0 white;
    border: 1px solid white;
    width: calc(100% - 32px);
    max-width: 320px;
}

.hero a span {
    font: inherit;
}

.hero a i {
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 3px;
}

.hero a span.hlt {
    color: greenyellow;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: inherit;
}

.hero a:hover {
    background: blue;
    color: white;
}

.hero-covers {
    display: block;
    max-width: 500px !important;
    margin: 10px auto 0;
    width: 100%;
    padding: 0 16px;
}


/* GRID */

.flex-row {
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.flex-row > div {
    width: 50%;
    border: 15px solid white;
}

.flex-row .fifth {
    display: block;
    width: 20%;
    padding: 15px;
}

.flex-row > div.right {
    margin-top: -100px;
}

.flex-row > div > img {
    display: block;
    width: 100%;
}

.flex-row .left h2 {
    margin-top: 0;
}

.flex-row .right {
    text-align: right;
}

.flex-row .right.black-border {
    border-color: black;
    margin-right: 15px;
}

.flex-row .right p {
    max-width: 430px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 12px;
}

.flex-row .right h2 {
    margin-top: 10px;
}

.lgbtq-header {
    background: black;
}

.lgbtq-header h2 {
    color: white;
    margin: 0;
}

.lgbtq {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 10px;
}

.button {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 12px;
    padding: 8px 12px;
    margin-bottom: 4px;
}

.button:hover {
    background: blue;
}

.link {
    display: inline-block;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.02rem;
}

.link:hover {
    color: blue;
}

.map {
    min-height: 264px;
    background-image: url('../img/background-313418-invert-min.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-top: -30px !important;
    padding-top: 0 !important;
    margin-bottom: 30px !important;
}

.author {
    display: flex;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 12px solid black;
    position: relative;
    z-index: 10;
}

.author.first {
    margin-top: -12px;
}

.author-cover {
    display: block;
    width: 20%;
    width: 200px;
    margin-right: 20px;
    text-decoration: none !important;
}

.author-cover > img {
    display: block;
    width: 100%;
}

.author-blurb {
    width: 80%;
    width: calc(100% - 220px);
}

.author .button {
    margin-top: 20px;
    text-decoration: none !important;
}

.author span.button {
    display: block;
    margin-top: 0;
    text-align: center;
}

.press {
    display: block;
    margin-top: 10px;
}

.press-title {
    margin-bottom: 0;
    display: block;
    font-size: 1.25em;
    text-transform: uppercase;
}

.press-title a {
    color: black;
}

.press-title a:hover {
    color: blue;
}

.press .button {
    margin-top: 4px;
}


/* DIRECTORY */

.peer-nav {
    text-align: center;
    font-size: 0;
    border-bottom: 12px solid white;
}

.peer-nav a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-bottom: 12px solid white;
    padding: 8px 16px;
    margin-right: -1px;
    margin-bottom: -12px;
}

.peer-nav a span {
    font: inherit;
    color: inherit !important;
}

.peer-nav a.active {
    border-bottom-color: black;
}

.peer-nav a:hover {
    background: white;
    color: black;
    border-bottom-color: white;
}

.peer-nav a img {
    height: 40px;
    vertical-align: top;
    margin: 2px 4px;
}

.peer-tab {
    display: none;
}

.peer-tab.active {
    display: block;
}

.peer-table {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse
}

.peer tr {
    border-bottom: 1px solid white;
}

.peer a i {
    color: inherit !important;
}

.peer-table td {
    padding: 12px 8px;
}

.peer-table * {
    font-size: 16px;
}

.peer-table a:hover {
    opacity: 0.75;
}

.peer-title {
    display: block;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    padding-right: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.peer-title i {
    display: block;
    font-size: inherit;
    position: absolute;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.peer-title i.fa-minus {
    display: none;
}

.peer-title.open i.fa-minus {
    display: inline-block;
}

.peer-title.open i.fa-plus {
    display: none;
}

.peer-name {
    white-space: nowrap;
}

.peer-name,
.peer-buy {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05rem;
}

.peer-buy {
    white-space: nowrap;
}

.peer-buy i {
    font-size: inherit;
}

.peer-books {
    position: relative;
    max-width: 300px;
}

.peer-search {
    background: black;
    color: white;
    border: 1px solid white;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: 0 !important;
    display: block;
    margin: 26px auto 16px;
    padding: 8px 16px;
    text-align: center;
    max-width: 250px;
    width: 100%;
}

.peer-search:focus {
    border-color: greenyellow;
}

.peer-pitch,
.peer-pitch * {
    font-size: 13px !important;
    line-height: 1.3;
}

.peer-title-pitch,
.peer-genre-pitch {
    display: block;
    font-size: 14px;
    color: black !important;
    font-weight: 700;
}

.peer-title-pitch {
    font-style: italic;
    font-size: 14px !important;
    margin-bottom: 4px;
}

.peer-genre-pitch {
    font-size: 11px !important;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-bottom: 8px solid black;
    padding-bottom: 4px;
    margin-bottom: 6px;
}

.peer-pitch {
    display: none;
    position: absolute;
    left: 8px;
    background: white;
    color: black !important;
    padding: 8px;
    border: 4px solid greenyellow;
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
    z-index: 9;
    width: 100%;
    width: calc(100% - 12px);
}

.peer-pitch * {
    font-size: 13px;
}

.peer-genre {
    position: relative;
    font-style: italic;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
    padding-left: 80px !important;
}


/* ICONS - AGE/GENRE */

[class*=' age-']:before,
[class*=' genre-']:after {
    position: absolute;
    left: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

[class*=' age-']:before {
    margin-top: 1px;
}

[class*=' genre-']:after {
    left: 34px;
    font-size: 15px;
}

.peer-genre[class*=' age-']:before {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8em;
}

.age-adult:before {
    content: 'A';
}

.age-na:before {
    content: 'NA';
}

.age-ya:before {
    content: 'YA';
}

.age-mg:before {
    content: 'MG';
}

.age-kidlit:before {
    content: 'KL';
}

[class*=' genre-']:after {
    font-family: 'Font Awesome 5 Free';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    width: 20px;
    text-align: center;
}

.genre-love:after {
    content: '\f004';
}

.genre-speculative:after {
    content: '\f005';
}

.genre-suspense:after {
    content: '\f002';
}

.genre-nonfiction:after {
    content: '\f02e';
}

.genre-fiction:after {
    content: '\f56b';
}

.genre-suspense.genre-love:after {
    content: '\f002\00a0\f004';
}

.genre-speculative.genre-love:after {
    content: '\f005\00a0\f004';
}

.genre-speculative.genre-fiction:after {
    content: '\f005\00a0\f56b';
}

.genre-suspense.genre-speculative:after {
    content: '\f002\00a0\f005';
}

.genre-fiction.genre-nonfiction:after {
    content: '\f56b\00a0\f02e';
}

.genre-fiction.genre-love:after {
    content: '\f56b\00a0\f004';
}


/* SORT */

.peer-btn-wrapper,
.peer-btn {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 13px;
}

.peer-btn-wrapper {
    margin-bottom: 14px;
}

.peer-btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    background: white;
    color: black !important;
    padding: 4px 8px;
    border: 1px solid white;
    letter-spacing: 0.03rem;
}

.peer-btn-wrapper span,
.peer-btn span {
    font: inherit;
    color: inherit !important;
}

.peer-btn[class*=' genre-'] {
    padding-left: 23px;
}

.peer-btn[class*=' genre-']:after {
    left: 2px;
    margin-top: -1px;
}

.peer-btn[class*=' age-']:before {
    display: none;
}

.peer-btn:hover,
.peer-btn.active {
    background: greenyellow;
    border-color: greenyellow;
}

.peer-btn.genre-all {
    padding-left: 8px;
}

.hide-age,
.hide-genre {
    display: none;
}

.peer-btn.outline {
    color: white !important;
    background: transparent;
}

.peer-btn.outline.active,
.peer-btn.outline:hover {
    color: greenyellow !important;
}

.peer-btn-divider {
    display: inline-block;
    width: 10px;
}

.peer-btn.filters-btn {
    min-width: 113px;
}


/* FILTERS */

.filters {
    margin-top: 25px;
}

.filters,
.hide-filters {
    display: none;
}

.filters-btn {
    display: none;
}

.filters-btn.show {
    display: inline-block;
}


/* COLOR CODE QI */

.qi-lit .peer:nth-child(12n + 1) a {
    color: #FFCC00;
}

.qi-lit .peer:nth-child(12n + 1),
.qi-lit .peer:nth-child(12n + 1) .peer-pitch {
    border-color: #FFCC00;
}

.qi-lit .peer:nth-child(12n + 2) a,
.qi-lit .peer:nth-child(12n + 12) a {
    color: orange;
}

.qi-lit .peer:nth-child(12n + 2),
.qi-lit .peer:nth-child(12n + 2) .peer-pitch,
.qi-lit .peer:nth-child(12n + 12),
.qi-lit .peer:nth-child(12n + 12) .peer-pitch {
    border-color: orange;
}

.qi-lit .peer:nth-child(12n + 3) a,
.qi-lit .peer:nth-child(12n + 11) a {
    color: darkorange;
}

.qi-lit .peer:nth-child(12n + 3),
.qi-lit .peer:nth-child(12n + 3) .peer-pitch,
.qi-lit .peer:nth-child(12n + 11),
.qi-lit .peer:nth-child(12n + 11) .peer-pitch {
    border-color: darkorange;
}

.qi-lit .peer:nth-child(12n + 4) a,
.qi-lit .peer:nth-child(12n + 10) a {
    color: coral;
}

.qi-lit .peer:nth-child(12n + 4),
.qi-lit .peer:nth-child(12n + 4) .peer-pitch,
.qi-lit .peer:nth-child(12n + 10),
.qi-lit .peer:nth-child(12n + 10) .peer-pitch {
    border-color: coral;
}

.qi-lit .peer:nth-child(12n + 5) a,
.qi-lit .peer:nth-child(12n + 9) a {
    color: tomato;
}

.qi-lit .peer:nth-child(12n + 5),
.qi-lit .peer:nth-child(12n + 5) .peer-pitch,
.qi-lit .peer:nth-child(12n + 9),
.qi-lit .peer:nth-child(12n + 9) .peer-pitch {
    border-color: tomato;
}

.qi-lit .peer:nth-child(12n + 6) a,
.qi-lit .peer:nth-child(12n + 8) a {
    color: orangered;
}

.qi-lit .peer:nth-child(12n + 6),
.qi-lit .peer:nth-child(12n + 6) .peer-pitch,
.qi-lit .peer:nth-child(12n + 8),
.qi-lit .peer:nth-child(12n + 8) .peer-pitch {
    border-color: orangered;
}

.qi-lit .peer:nth-child(12n + 7) a {
    color: red;
}

.qi-lit .peer:nth-child(12n + 7),
.qi-lit .peer:nth-child(12n + 7) .peer-pitch {
    border-color: red;
}


/* COLOR CODE FR */

.qi-friends .peer:nth-child(12n + 1) a {
    color: yellowgreen;
}

.qi-friends .peer:nth-child(12n + 1),
.qi-friends .peer:nth-child(12n + 1) .peer-pitch {
    border-color: yellowgreen;
}

.qi-friends .peer:nth-child(12n + 2) a,
.qi-friends .peer:nth-child(12n + 12) a {
    color: mediumseagreen;
}

.qi-friends .peer:nth-child(12n + 2),
.qi-friends .peer:nth-child(12n + 2) .peer-pitch,
.qi-friends .peer:nth-child(12n + 12),
.qi-friends .peer:nth-child(12n + 12) .peer-pitch {
    border-color: mediumseagreen;
}

.qi-friends .peer:nth-child(12n + 3) a,
.qi-friends .peer:nth-child(12n + 11) a {
    color: lightseagreen;
}

.qi-friends .peer:nth-child(12n + 3),
.qi-friends .peer:nth-child(12n + 3) .peer-pitch,
.qi-friends .peer:nth-child(12n + 11),
.qi-friends .peer:nth-child(12n + 11) .peer-pitch {
    border-color: lightseagreen;
}

.qi-friends .peer:nth-child(12n + 4) a,
.qi-friends .peer:nth-child(12n + 10) a {
    color: darkturquoise;
}

.qi-friends .peer:nth-child(12n + 4),
.qi-friends .peer:nth-child(12n + 4) .peer-pitch,
.qi-friends .peer:nth-child(12n + 10),
.qi-friends .peer:nth-child(12n + 10) .peer-pitch {
    border-color: darkturquoise;
}

.qi-friends .peer:nth-child(12n + 5) a,
.qi-friends .peer:nth-child(12n + 9) a {
    color: deepskyblue;
}

.qi-friends .peer:nth-child(12n + 5),
.qi-friends .peer:nth-child(12n + 5) .peer-pitch,
.qi-friends .peer:nth-child(12n + 9),
.qi-friends .peer:nth-child(12n + 9) .peer-pitch {
    border-color: deepskyblue;
}

.qi-friends .peer:nth-child(12n + 6) a,
.qi-friends .peer:nth-child(12n + 8) a {
    color: dodgerblue;
}

.qi-friends .peer:nth-child(12n + 6),
.qi-friends .peer:nth-child(12n + 6) .peer-pitch,
.qi-friends .peer:nth-child(12n + 8),
.qi-friends .peer:nth-child(12n + 8) .peer-pitch {
    border-color: dodgerblue;
}

.qi-friends .peer:nth-child(12n + 7) a {
    color: royalblue;
}

.qi-friends .peer:nth-child(12n + 7),
.qi-friends .peer:nth-child(12n + 7) .peer-pitch {
    border-color: royalblue;
}


/* WHO WE ARE */

.who-we-are * {
    color: white;
    text-align: center;
}

.who-we-are p:first-of-type {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.who-we-are {
    padding: 40px 0 100px;
    background-image: url(../img/fractal-2329803-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.who-we-are .container {
    max-width: 1000px;
}

.who-we-are .button {
    background: white;
    color: black;
    vertical-align: middle;
}

.who-we-are .button:hover {
    background: blue;
    color: white;
}


/* PROMO */

.promo {
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
    background: black;
    background-image: url(../img/rainbow-313415-min.jpg);
    background-size: 1500px auto;
    background-position: bottom center;
}

.promo:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
}

.promo .container {
    max-width: 1800px;
}

.promo .flex-row {
    flex-wrap: wrap;
    justify-content: center;
}

.promo .flex-row > div {
    position: relative;
    border-color: black;
    border-width: 14px;
    padding: 15px 15px 75px;
    background: white;
    /* width: 33.3333%;
    width: calc(100% / 3); */
    width: 25%;
    margin-top: -14px;
    margin-left: -7px;
    margin-right: -7px;
}

.promo .flex-row > div:nth-child(even) {
    margin-top: -60px;
    margin-bottom: 46px;
}


/* 
.promo .flex-row > div:nth-of-type(3n + 2) {
    margin-top: -30px;
}

.promo .flex-row > div:nth-of-type(3n + 3) {
    margin-top: -30px;
}

.promo .flex-row > div:nth-of-type(3n + 4) {
    margin-bottom: -30px;
}
*/

.promo ul {
    padding-left: 1rem;
}

.promo h2 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

.promo h3 {
    font-size: 22px !important;
    margin-top: 0.5rem;
    margin-bottom: 8px;
    font-style: italic;
    font-size: 1.35rem;
    line-height: 1.3;
}

.promo p {
    font-size: 15px;
    margin-bottom: 0.5rem;
    line-height: 1.3;
}

.promo em {
    font-size: inherit;
}

.promo p .link {
    font-size: 13px;
}

.promo .flex-row .right p {
    max-width: none;
}

.promo-img {
    display: block;
    padding-top: 30%;
    margin-bottom: 1rem;
    background-image: url('../img/promo-sulk-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.promo-img.tellworthy,
.promo-img.sulkmedia,
.promo-img.fugitivepoems {
    padding-top: 40%;
}

.promo-img.tellworthy {
    background-image: url('../img/promo-tellworthy-min.jpg');
}

.promo-img.fugitivepoems {
    margin-top: 1rem;
    background-image: url('../img/promo-fugitive-min.jpg');
}

.promo-img.cyberheart {
    background-image: url('../img/promo-cyberheart-min.jpg');
}

.promo iframe {
    display: block;
    width: 100% !important;
}

.promo .link {
    white-space: nowrap;
}

.promo .button:not(.learn-more) {
    margin-bottom: 0;
    margin-top: 0;
}

.promo .button.learn-more {
    position: absolute;
    left: 15px;
    bottom: 30px;
    margin-bottom: 0;
}


/* FOOTER */

#footer {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-bottom: 100px;
    background: black;
}

#footer .footer-titles-bg.container {
    max-width: 900px;
    text-align: center;
}

#footer .footer-titles-bg a,
#footer .footer-titles-bg span {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 12px;
    font-weight: 400 !important;
}

#footer .footer-titles-bg a:hover {
    color: greenyellow;
}

.scrollTop {
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 10px;
    text-align: center !important;
    height: 40px !important;
    width: 40px !important;
    line-height: 40px !important;
    padding-top: 3px;
    background-color: greenyellow !important;
    color: #000000 !important;
    transition: all 0.25s ease !important;
    opacity: 0.5;
    box-shadow: 3px 3px 0 black;
}

.scrollTop:hover {
    opacity: 1;
}

.footer-titles-wrapper {
    position: relative;
    padding-top: 56%;
    padding-top: 35%;
    margin: 0 auto 20px;
    width: 100%;
}

.footer-titles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block !important;
    background-image: url('../img/covers/covers-titles-min.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}


/* AD DRAWER */

.ad-drawer {
    position: fixed;
    bottom: 0;
    left: 60px;
    right: 60px;
    z-index: 99999;
    transition: 0.5s bottom ease;
    transition-delay: 0.25s;
}

.ad-drawer.closed {
    bottom: -200px;
}

.ad-drawer .container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: white;
    color: black;
    padding: 0;
    max-width: 1168px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25), 0 -10px 40px rgba(0, 0, 0, 0.25);
}

.ad-drawer .container > div,
.ad-drawer .container > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}

.ad-title,
.ad-reload {
    width: 140px;
}

.ad-title {
    background-image: url(../img/rainbow-313415-min.jpg);
    background-size: 700% auto;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: 0 0 4px white, 0 0 20px white
}

.ad-queer,
.ad-ally {
    width: calc(50% - 140px);
    background: white;
}

.ad-drawer strong {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-size: 12px;
    color: black;
    line-height: 1;
    margin-bottom: 2px;
}

.ad-drawer a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.ad-drawer a:hover {
    color: greenyellow;
}

.ad-reload {
    text-align: right;
    background: blue;
    color: white !important;
}

.ad-reload:hover {
    color: black !important;
    background: greenyellow;
}

.ad-drawer span,
.ad-drawer i {
    display: inline;
    vertical-align: middle;
}

.ad-drawer i {
    display: inline-block;
    font-size: 16px;
    margin-right: 4px;
}

.ad-queer a i,
.ad-ally a i {
    color: blue;
}

.ad-queer a:hover i,
.ad-ally a:hover i {
    color: greenyellow;
}

.ad-drawer span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ad-queer-title,
.ad-ally-title {
    margin-bottom: 2px;
}

.ad-queer-title,
.ad-ally-title,
.ad-queer-twitter,
.ad-ally-twitter {
    padding-left: 25px;
    position: relative;
}

.ad-queer-title i,
.ad-ally-title i,
.ad-queer-twitter i,
.ad-ally-twitter i {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ad-queer-title span,
.ad-ally-title span,
.ad-queer-twitter span,
.ad-ally-twitter span {
    display: block;
    background: black;
    color: white;
    padding: 2px 4px;
}

.ad-queer-title:hover span,
.ad-ally-title:hover span,
.ad-queer-twitter:hover span,
.ad-ally-twitter:hover span {
    background: greenyellow;
    color: black;
}

.ad-queer-title span,
.ad-ally-title span {
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
}

.ad-queer-twitter span,
.ad-ally-twitter span {
    font-size: 13px;
}

.ad-drawer em {
    font-size: inherit;
}

.ad-title span,
.ad-reload span {
    font-size: 14px;
    font-weight: 700;
}

.ad-title i {
    margin-right: 8px;
}

.ad-reload i {
    margin-left: 8px;
    color: inherit;
}


/* LIGHTBOX */

.lightbox {
    display: none;
    position: fixed;
    z-index: 99998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.lightbox-content {
    position: fixed;
    z-index: 99999;
    background: white;
    margin: 0 auto;
    left: 16px;
    right: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 600px;
    padding: 0 2rem;
    max-height: 90%;
    overflow-y: auto;
}

.lightbox-close {
    font-size: 2em;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    line-height: 0;
    color: white;
}

.lightbox-close i {
    font-size: inherit;
}

.lightbox h2 {
    margin: 0 -2rem 1rem;
    background: black;
    text-align: center;
    border: 2px solid white;
    padding: 16px 64px;
}

.lightbox h3 {
    margin-bottom: 0;
}

.lightbox p {
    margin-bottom: 0.5rem;
}

.lightbox p:first-of-type {
    font-size: 1.05em;
    margin-bottom: 1rem;
}

.lightbox p a {
    background: black;
    color: greenyellow;
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 4px;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-decoration: none;
}

.lightbox p a:hover {
    background: blue;
}

.lightbox strong {
    font-weight: 700;
}

.lightbox .button {
    margin: 1rem -2rem 0;
    font-size: 1em;
    text-align: center;
    display: block;
    border: 2px solid white;
}

.lightbox img {
    display: block;
    max-width: 250px !important;
    width: 100%;
    margin: 0 auto;
}

.lightbox span {
    font-size: inherit;
}


/* AWARDS */

.directory.awards {
    margin-bottom: 0 !important;
}

.container.directory.awards > h2.text-center {
    max-width: 640px;
    margin: 0 auto 12px;
}

.container.directory.awards p.text-left {
    max-width: 640px;
    margin: 0 auto 12px;
    font-size: 16px;
}

.container.directory.awards hr {
    max-width: 640px;
    margin: 1.5rem auto 0;
}

.awards-wrapper {
    margin-top: 24px;
    padding-bottom: 60px;
    border-bottom: 12px solid white;
}

.awards-wrapper iframe {
    display: block;
    margin: 0 auto;
    max-width: 100% !important;
}

.accordion {
    max-width: 640px;
    margin: 8px auto 0;
    background: #eeeeee;
}

.accordion-key {
    max-width: 640px;
    margin: 32px auto 0;
}

.accordion-key ul {
    padding-left: 1rem;
}

.accordion-key li {
    font-size: 0.85rem;
    margin-top: 0.2rem;
}

.accordion-key small {
    display: block;
    font-size: 0.75em;
    margin-top: 16px;
}

.accordion-title {
    position: relative;
    padding: 8px 16px;
    padding-right: 64px;
    font-size: 16px;
    color: black !important;
    cursor: pointer;
    font-weight: bold;
    background: white;
    border: 4px solid blue;
}

.accordion:nth-child(13n + 1) * {
    border-color: royalblue;
}

.accordion:nth-child(13n + 2) * {
    border-color: dodgerblue;
}

.accordion:nth-child(13n + 3) * {
    border-color: deepskyblue;
}

.accordion:nth-child(13n + 4) * {
    border-color: darkturquoise;
}

.accordion:nth-child(13n + 5) * {
    border-color: lightseagreen;
}

.accordion:nth-child(13n + 6) * {
    border-color: mediumseagreen;
}

.accordion:nth-child(13n + 7) * {
    border-color: yellowgreen;
}

.accordion:nth-child(13n + 8) * {
    border-color: orange;
}

.accordion:nth-child(13n + 9) * {
    border-color: darkorange;
}

.accordion:nth-child(13n + 10) * {
    border-color: coral;
}

.accordion:nth-child(13n + 11) * {
    border-color: tomato;
}

.accordion:nth-child(13n + 12) * {
    border-color: orangered;
}

.accordion:nth-child(13n + 13) * {
    border-color: red;
}

.accordion-title:hover {
    background: #f5f5f5;
    color: #555555 !important;
}

.accordion-title > i.fas {
    display: block;
    color: inherit !important;
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.accordion-title > i.fas.fa-minus,
.accordion.open .accordion-title > i.fas.fa-plus {
    display: none;
}

.accordion.open .accordion-title > i.fas.fa-minus {
    display: block;
}

.accordion-body {
    display: none;
    border: 4px solid blue;
    border-top: 0;
    max-height: 390px;
}

.accordion iframe {
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
    min-width: 133.5% !important;
    height: 500px !important;
}

.home-awards a {
    text-decoration: none;
    color: inherit;
}

.home-awards a:hover {
    color: blue;
}

.home-awards span {
    display: block;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
}

.awards-category {
    background: black;
    color: white;
    padding: 8px;
    letter-spacing: 0.05rem;
}

.home-awards a:hover .awards-category {
    background: blue;
}

.awards-category {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 4px;
}

.awards-author {
    font-size: 18px;
}


/* RESPONSIVE */

@media only screen and (max-width: 1440px) {
    .promo .flex-row > div {
        width: 50%;
        max-width: 500px;
    }
}

@media only screen and (max-width: 1024px) {
    .hero {
        padding: 100px 0;
    }
    .hero-covers {
        max-width: 350px !important;
    }
    .hero.inner-page {
        padding-top: 90px;
    }
    .flex-row .right.black-border {
        max-height: 300px;
        overflow: hidden;
    }
    .flex-row.home-awards {
        max-width: 600px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-row .fifth {
        width: 33.33333%;
        width: calc(100% / 3);
    }
    .inner-video {
        overflow: hidden;
    }
    .inner-video video {
        width: 270%;
        margin: 0 auto;
        max-width: 270% !important;
        left: 0;
        margin-left: -50%;
    }
    .peer-table * {
        font-size: 15px;
    }
    .peer-name,
    .peer-buy {
        font-size: 13px;
    }
    .peer-name {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .peer-genre {
        max-width: 220px;
    }
    .peer-books {
        max-width: 200px;
    }
    .promo {
        padding: 16px 7px 30px;
    }
    .promo .flex-row > div {
        width: 50%;
        margin-top: 0 !important;
        margin-bottom: -14px !important;
        padding-bottom: 60px;
    }
    .promo .button.learn-more {
        bottom: 15px;
    }
    .promo-img.sulkmedia,
    .promo-img.tellworthy,
    .promo-img.fugitivepoems {
        padding-top: 30%;
    }
    .ad-title span,
    .ad-reload span {
        font-size: 0;
        text-align: center;
    }
    .ad-title i,
    .ad-reload i {
        margin: 0 !important;
    }
    .ad-title,
    .ad-reload {
        width: 50px;
    }
    .ad-queer,
    .ad-ally {
        width: calc(50% - 50px);
    }
}

@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
    .hero {
        padding: 40px 0;
        background-size: 1400px auto;
    }
    .hero.inner-page {
        padding-top: 73px;
    }
    .hero h1 {
        font-size: 56px;
    }
    .flex-row > div.right {
        margin-top: -80px;
    }
    .flex-row .left h2 {
        margin-top: 0;
    }
    .map {
        min-height: 300px;
    }
    .author-cover {
        width: 100px;
    }
    .author-blurb {
        width: calc(100% - 120px);
    }
    .author .button:before {
        display: none;
    }
    .peer-title {
        position: relative;
        font-size: 0;
        padding-right: 0;
    }
    .peer-title i {
        display: block;
        font-size: 17px;
        position: static;
        -webkit-transform: none;
        transform: none;
    }
    .peer-pitch {
        right: 0;
        left: 0;
        width: 100%;
    }
    .peer-genre,
    .peer-twitter,
    .peer-buy i {
        display: none;
    }
    .peer-books {
        position: static;
    }
    .peer-table {
        position: relative;
    }
    .peer-nav a {
        font-size: 1.25rem;
        letter-spacing: 0.03rem;
        text-transform: uppercase;
    }
    .peer-title i {
        display: block;
        width: 20px;
    }
    .peer-pitch {
        font-size: 13px;
        margin-top: 14px;
    }
    .peer-btn.genre:not(.genre-all) {
        width: 20px;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: bottom;
        text-indent: 99px;
    }
    .peer-btn.genre:not(.genre-all):after {
        text-indent: 0;
        left: 5px;
    }
    .peer-btn-divider {
        display: block;
        width: 100%;
        height: 8px;
    }
    .hero.inner-page h1 {
        font-size: 40px;
    }
    .hero-covers {
        max-width: 600px !important;
        margin: 0px auto;
    }
    .lightbox-content {
        padding: 0 1rem;
    }
    .lightbox h2,
    .lightbox .button {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .lightbox h3 {
        display: none;
    }
    .lightbox p {
        font-size: 16px;
    }
    .lightbox p:first-of-type {
        font-size: 18px;
    }
    #header .inner {
        width: 90px;
    }
    .hero h1 {
        font-size: 40px;
    }
    .hero.inner-page {
        min-height: 250px;
        padding-bottom: 10px;
    }
    .hero-video-wrapper {
        padding-top: 100%;
    }
    .hero-video {
        width: 200%;
        max-width: 200% !important;
    }
    .flex-row:not(.home-awards) {
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }
    .flex-row.home-awards {
        max-width: 400px;
        margin: 0 auto;
    }
    .flex-row .fifth {
        width: 50%;
    }
    .container.directory .flex-row {
        max-width: none;
    }
    .container.directory .flex-row div {
        padding-left: 0;
        padding-right: 0;
    }
    .flex-row div {
        margin: 0 !important;
        width: 100%;
        text-align: center;
    }
    .flex-row .right {
        text-align: center;
    }
    .map {
        min-height: 200px;
    }
    .authors h2 {
        text-align: center;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .author {
        max-width: 320px;
        margin: 0 auto;
        display: block;
    }
    .author-cover {
        margin-bottom: 20px;
    }
    .author-cover,
    .author-blurb {
        width: 100%;
    }
    .container.directory {
        padding: 16px !important;
    }
    .promo {
        padding: 16px 0 30px;
    }
    .promo .flex-row {
        display: block;
    }
    .promo .flex-row > div {
        width: 100%;
        text-align: left;
    }
    .promo h2 {
        font-size: 20px;
    }
    .promo h3 {
        font-size: 18px !important;
    }
    .promo p {
        font-size: 13px;
    }
    .ad-drawer .container > div,
    .ad-drawer .container > a {
        padding: 0.25rem;
    }
    .ad-title,
    .ad-reload {
        width: 35px;
    }
    .ad-queer,
    .ad-ally {
        width: calc(50% - 35px);
    }
}

@media only screen and (max-width: 640px) {
    #header {
        overflow: visible;
    }
    #header .nav-social {
        left: -16px;
        right: -16px;
        top: 76px;
        background: rgba(0, 0, 0, 0.45);
    }
    #header .social {
        padding: 0 10px 4px;
    }
    .ad-drawer {
        left: 10px;
        right: 10px;
    }
    .scrollTop {
        bottom: 70px;
    }
    .ad-queer-title i,
    .ad-ally-title i,
    .ad-queer-twitter i,
    .ad-ally-twitter i {
        font-size: 10px;
    }
    .ad-queer-title,
    .ad-ally-title,
    .ad-queer-twitter,
    .ad-ally-twitter {
        padding-left: 15px;
    }
    .ad-drawer strong,
    .ad-queer-title span,
    .ad-ally-title span {
        font-size: 10px;
    }
    .ad-queer-twitter span,
    .ad-ally-twitter span {
        font-size: 9px;
    }
}

@media only screen and (max-width: 480px) {
    .flex-row.home-awards {
        display: block;
        max-width: 100%;
    }
    .flex-row .fifth {
        width: 100%;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}